.top-bar{background-color:black;min-height:40px;padding-top:5px;padding-bottom: 0px;}
.top-bar .nav-text {
    color: #00BCD4;
    display: block;
    margin-top: 5px;
}
.top-bar .social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.top-bar .tools{margin:0px;padding:0px;list-style-type:none;}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}
.navbar-inverse-damnx {
    background-color: #009688;
}

.dropdown-menu li a {
    
}
.top-bar .dropdown-menu li a {
    color: #000
}
.top-bar .dropdown-menu li {
    float: left;
    width: 100%;
}

.top-bar-damnx .tools .dropdown .dropdown-toggle{
    color: white
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
    /* position: absolute; */
    z-index: 11;
    margin: 0 auto;
    right: 42%;
}
.navbar-inverse-damnx .navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-inverse {
    background-color: #009688;
    border-color: #080808;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid #000;;
    border-radius:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #009688;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 11px;
} 

