
@media (max-width: 480px) {
    .signup-agile1, .signup-agile2 {
        width: 100%;
        float: none;
    }
    .signup-w3ls-login:after {
        top: 42% !important;
    }
    .signup-agile1 {
        margin-bottom: 70px;
    }
    .signup-w3ls {
        text-align: center;
    }
    label.header {
        margin-left: -100px;
    }
    }

