.date-picker-rules {
    width: 100%;
}
.fa-times-red:hover {
    color: red
}
.error-span {
    color: red;
}
.error-label{
    color: red;
    padding: 5px 0px;
}
.error-input {
    border-color: red
}
.error-input .ant-select-selection {
    border-color: red
}
.error-input .ant-calendar-picker-input {
    border-color: red
}